numpy==1.21.4
pandas
pickle-mixin==1.0.2
streamlit>=1.20
streamlit-option-menu==0.3.2
scikit-learn==1.0.1
markdown-it-py==3.0.0
pygments==2.19.2
rich==14.1.0
mdurl==0.1.2
matplotlib
joblib
xgboost
